fastapi==0.115.6
uvicorn==0.32.1
sqlmodel==0.0.22
SQLAlchemy==2.0.36
pydantic==2.10.5
python-decouple==3.8
python-multipart==0.0.19

# Firebase Admin SDK
firebase_admin==7.1.0

# HTTP requests
httpx[http2]==0.28.1
requests==2.32.3